<!DOCTYPE html>
<html>
<head>
    <title>🛡 Neural Threat Analysis</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>🛡 Neural Threat Analysis</h1>
        <form method="POST">
            <textarea name="incident_text" placeholder="Paste incident metadata here..." rows="15"></textarea>
            <br>
            <button type="submit" class="btn">Analyze</button>
            <span class="author-name">Vivek Prajapati</span>
            
        </form>
    </div>
</body>
</html>



